---

---

@charset "utf-8";

@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials

.sidebar-wrapper .name {
    font-size: 31px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
}
